body{
    padding: 0;
    margin: 0;
    background: url(f.jpg);
    background-size: cover;
    background-position: center;
}
.login{
    margin-top: 90px;
    background: white;
    padding: 17px;
}

h1{
    background: blue;
    text-align: center;
    color: white;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px 1px gray;
    border-radius: 4px;
    
}
#error1{
    display: none;
}
#error2{
    display: none;
}
#error3{
    display: none;
}
#error4{
    display: none;
}